services:
  - type: web
    name: user-auth-api
    runtime: node
    buildCommand: cd backend && npm install
    startCommand: cd backend && npm start
    envVars:
      - key: PORT
        value: 3000
      - key: MONGO_URI
        sync: false
